# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

/project.godot export-ignore
/docs export-ignore
/docs/calendar_library_front.png export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.godot export-ignore
/.godot/* export-ignore
